:root {
	--black-olive: #3E3E3C;
	--dirty-white: #E8E9C9;
	--dollar-bill: #85BB65;
	--sea-green: #228D57;
}

html, body, * {
	background: var(--dirty-white);
	color: var(--black-olive);
  font-family: sans-serif;
}

header {
  text-align: center;
}

main {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}

.header-title {
	margin: auto;
	text-shadow: 0 2px var(--dollar-bill);
	border: 1px solid var(--black-olive);
	font-family: "Ultra", serif;
}

.instructions {
	margin: 1em;
	font-family: "Ultra", serif;
}

.interface {
	height: 4em;
}

.battleground {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero {
  order: 1;
  width: 45%;
}

.active-enemy {
  order: 2;
  width: 45%
}

section {
	box-shadow: 0 3px 3px var(--black-olive),0 -0.5px 2px var(--black-olive);
  margin: 1em;
  order: 99;
  text-align: center;
  display: block;
}

.pres-img {
	width: 300px;
  height: 300px;
}

.pres-details > p {
	padding: 0;
	margin: .5em;
}

.pres-name {
	font-size: 1.5em;
  font-family: "Ultra", serif;
  margin: .5em;
	border-bottom: 1px solid var(--black-olive);
}

.pres-details {
  display: flex;
  flex-direction: row;
}

.hp {}
  
}

.pres-details > .damage {
  color: red;
  font-weight: 700;
  align-self: flex-end;
}

.hero > .pres-details > .pres-name:before, .hero > .pres-details > .pres-name:after {
	content: " ✪ ";
}

.active-enemy > .pres-name {
	color: red;
}

.defeated > .pres-details > .pres-name:before, .defeated > .pres-details > .pres-name:after {
	content: " X ";
}

button {
	width: 6em;
	height: 3em;
  color: white;
  border: none;
	border-radius: 5px;
	margin: 1em;
}

.attack-button {
  background-color: red;
}

.reset-button {
  background-color: var(--sea-green);
}